body{
  display: flex;
  justify-content: center;

}
.grid {
  width: 400px;
  height: 600px;
  position: relative;
  font-size: 200px;
  text-align: center;
  color: skyblue;
  background-image: url(/images/background.png);
}
.doodler {
  width: 90px;
  height: 85px;
  background-image: url(/images/doodler-guy.png);
  background-size: cover;;
  position: absolute;
}
.platform {
  width: 85px;
  height: 15px;
  background-image: url(/images/platform.png);
  position: absolute;
}
